
@{
    ViewBag.Title = "PostManualUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "post_blog";
}
<link rel="stylesheet" href="~/Content/assets/vendor/summernote/dist/summernote.css" />
<link rel="stylesheet" href="~/Content/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
<style>
    .linkbtn {
        display: none
    }
</style>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>   Post Manual User</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/index"><i class="icon-home"></i></a></li>
                    <li class="breadcrumb-item">Manual User</li>
                    <li class="breadcrumb-item active">Post Manual User</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <form action="~/Campaign/AddManualUser" id="form1" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="loginName">Name</label>

                                <input type="text" class="form-control" name="Name" placeholder="Name" id="loginName">
                            </div>
                            <div class="col-sm-6">
                                <label for="loginEmail">Email</label>

                                <input type="email" name="Email" class="form-control" placeholder="Email" id="loginEmail">
                            </div>
                            <div class="col-sm-6">
                                <label for="loginPassword">Ph number</label>

                                <input type="text" class="form-control" name="PhoneNo" placeholder="Ph number">
                                <!-- <span class=""><i class="uil uil-eye"></i></span> -->
                            </div>
                            <div class="col-sm-6">
                                <label for="loginPasswordConfirm">Organization Name</label>

                                <input type="text" class="form-control" name="OrganizationName" placeholder="Organization Name">
                                <!-- <span class=""><i class="uil uil-eye"></i></span> -->
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-primary m-t-20">Submit</button>

                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts{

   
    <script>
        document.getElementById('form1').addEventListener('submit', function (event) {
            event.preventDefault();
            $("#overlay").fadeIn();
            $('#form1').submit();

        });
    </script>
}



